{{template "base" .}}

{{define "content"}}
<div class="container">
    <h1 class="text-3xl">Home Page</h1>
</div>
{{end}}

{{define "js"}}
<script>
    console.log("Hello World");
</script>

{{end}}


